@charset "utf-8";
/* CSS Document */
body{
	background-color:#ffce00;
	margin:0px;
	padding:0px;
	background-image:url(images/bg.gif);
	background-position:top center;
	background-repeat:no-repeat;
	background-attachment:fixed;
}


ul,li,h1,h2{

}

.newline{
	clear:both
}

.homeSpecs_purplebox{
	background-image:url(images/purple_bg.jpg);
	height:81px;
	background-repeat:repeat-x;
	color:#FFF;
}

.homeSpecs_purplebox_left{
	background-image:url(images/purple.jpg);
	height:65px;
	width:89px;
	background-repeat:repeat-x;
	line-height:80px;
}



.homeSpecs_greenbox{
	background-image:url(images/green_bg.jpg);
	height:81px;
	background-repeat:repeat-x;
	color:#FFF;
}

.homeSpecs_greenbox_left{
	background-image:url(images/green.jpg);
	height:65px;
	width:89px;
	background-repeat:repeat-x;
	line-height:80px;
}

.homeSpecs_greybox{
	background-image:url(images/grey_bg.jpg);
	height:81px;
	background-repeat:repeat-x;
	color:#FFF;
}

.homeSpecs_greybox_left{
	background-image:url(images/grey.jpg);
	height:65px;
	width:89px;
	background-repeat:repeat-x;
	line-height:80px;
}

.homeSpecs_headings{
	color:#000;
	font-size:11px;
	height:16px;
}

.homeSpecs_headings span{
	color:#fff;
	font-size:11px;
}

.homeSpecs_grid_content{
	color:#fff;
	font-size:11px;
}

.homeSpecs_grid_content span{
	color:#989898;
	font-size:12px;
}

.homeSpecs_grid_content a{
	color:#49abea;
	font-size:11px;
	text-decoration:none;
}

.homeSpecs_grid_content a:hover{
	color:#49abea;
	font-size:11px;
}


.homeSpecs_thumb{
	color:#49abea;
}


h3.subheading{
	font-size:13px;
	color:#ffed0d;
	margin:0px;
	padding:0px 0px 10px 0px;
}

h3.subheading span{
	font-size:13px;
	color:#676765;
	margin:0px;
	padding:0px 0px 10px 0px;
}

h2.subheading{
	font-size:25px;
	color:#faed00;
	margin:0px;
	padding:0px 0px 10px 0px;
}


.grid_bg{
	background-image:url(images/grid_bg.gif);
	height:83px;
	background-repeat:repeat-x;
}


.comment_bg{
	background-image:url(images/comment_bg.gif);
	width:291px;
	height:57px;
	padding:5px;
}

textarea{
	padding:6px;
	color:#767576;
	border:0px;
}

/***************************************************************
 * My stuff
 ***************************************************************/
#contentbox p {
	font:arial;
	font-size:13px;
	color:#fff;
	text-align: left;
}

#top_tabs{
	height:66px;
	border:0px solid #FF0000;
	position:relative;
}

#top_tabs ul{
	list-style-type:none;
	float:left;
}

#top_tabs  li{
	list-style-type:none;
	float:left;
	width:150px;
}

#header_search{
	background-image:url(images/header_bg.jpg);
	background-repeat:no-repeat;
	height:118px;
	margin:0px auto;
	background-position:top center;
}


#container_inner p{
	 color:#FFF; font-size:13px; line-height:18px;
	 margin:0px;
	 padding:0px;
}

#header_inner{
	width:401px;
	margin:0px auto;
	padding-top:30px;
	color:#FFFFFF;
	text-align:center;
}


#header_inner h2{
	color:#ffda2b;
	font-size:16px;
	font-weight:bold;
	padding-bottom:10px;
}

#header_inner input{
	background-color:transparent;
	border:0px;
	width:270px;
	padding-top:6px;
	color:#898989;
	font-size:15px;
}

#searchbox_bg{
	width:294px;
	float:left;
	background-image:url(images/textbox_bg.png);
	height:32px;
}

#celeb_top_graph_wrapper h3 {
	font-weight:bold;
	color:#FFEB09;
	margin-left:22px;
	display:inline;
}

#celeb_top_graph_wrapper a:hover {
	color:#838383;
	text-decoration:none;
}

#celeb_top_graph_wrapper a {
	color:#838383;
	text-decoration:underline;
}

.celeb_graph_range {
	font-weight:regular;
	color:#838383;
	font:arial;
	font-size:13px;
	margin-left:5px;
}

#celeb_top_graph {
	margin-top:0px;
}

#celeb_bottom_container{
	border:0px solid #CCC;
	margin-top:20px;
}

#celeb_stream_items{
	margin-top:0px;
}
#celeb_stream_single{
	height:81px;
	background-repeat:repeat-x;
	margin-top:0px;
	margin-left:0px;
	padding-left:0px;
	padding-right:0px;
}

.celeb_cat_entertainment {
	background-image:url(images/comment_bg_entertain.png);
	background-position: 0px 0px;
}

.celeb_cat_entertainment_border {
	border-top:1px solid #F43CFB;
}

.celeb_cat_entertainment:hover{
	background-position: 0px -83px;
}


.celeb_cat_sports {
	background-image:url(images/comment_bg_sports.png);
	background-position: 0px 0px;
}

.celeb_cat_sports_border {
	border-top:1px solid #07AD59;
}

.celeb_cat_sports:hover{
	background-position: 0px -83px;
}

.celeb_cat_politics {
	background-image:url(images/comment_bg_politics.png);
	background-position: 0px 0px;
}

.celeb_cat_politics_border {
	border-top:1px solid #D7DFDB;
}

.celeb_cat_politics:hover{
	background-position: 0px -83px;
}

.celeb_cat_business {
	background-image:url(images/comment_bg_business.png);
	background-position: 0px 0px;
}

.celeb_cat_business_border {
	border-top:1px solid #C4EA15;
}

.celeb_cat_business:hover{
	background-position: 0px -83px;
}

.celeb_cat_fiveminfame {
	background-image:url(images/comment_bg_fiveminfame.png);
	background-position: 0px 0px;
}

.celeb_cat_fiveminfame_border {
	border-top:1px solid #DFBE20;
}

.celeb_cat_fiveminfame:hover{
	background-position: 0px -83px;
}

.celeb_stream_img {
	border:1px solid #3a545f; /*already has 1px border*/
	float:left;
	margin-top:17px;
	height:48px;
	width:48px;
	margin-left:15px;
	margin-right:15px;
}

.celeb_stream_name {
	color:#838383;
	font-size: 13px;
	margin-left:20px;
}

.celeb_stream_thumb_p1 {
	margin-top:-6px;
	margin-left:0px;
	width:17px;
	height:23px;
	position:absolute;
}

.celeb_stream_comment {
	font-size: 13px;
	color:#FFF;
	line-height:16px;
}

.celeb_stream_source {
	font-size:11px;
	color:#838383;
}

#celeb_extras_wrapper {
	width:320px;
	float:left;
	margin-left:20px;
	padding-left:20px;
	border-left:1px dashed #bbb104;
}

#celeb_extras_wrapper p {
	margin-top:10px;
	margin-left:10px;
}
#celeb_pulse {
	margin-top:0px;
	padding-bottom:20px;
}

#celeb_extras {
	border-top:1px dashed #bbb104;
	padding-top:20px;
	padding-bottom:20px;
}
#celeb_more_about {
	border-bottom:1px dashed #bbb104;
}
.celeb_similar {
	color:#3a85af;
	font-size:13px;
	display:inline;
}

.celeb_similar li {
	color:#3a85af;
	font-size:12px;
	display:inline;
	line-height:16px;
	margin-left:15px;
}

.celeb_similar li a {
	color:#3a85af;
	font-size:12px;
	text-decoration:underline;
}

.celeb_similar li a:hover {
	color:#3a85af;
	font-size:12px;
	text-decoration:none;
}

.celeb_list_articles {
	 color:#3a85af;
	 font-size:13px;
}

.celeb_list_articles li {
	 color:#3a85af;
	 font-size:14px;
	 line-height:22px;
	 margin-left:15px;
}

.celeb_list_articles li a {
	 color:#3a85af;
	 font-size:14px;
	 text-decoration:underline;
}

.celeb_list_articles li a:hover {
	 color:#3a85af;
	 font-size:14px;
	 text-decoration:none;
}

/**************************************************
 NEW
 ***************************************************/
#category_stream_wrapper {}
#celeb_cat_stream_items{
	margin-top:0px;
	clear:both;
}

#celeb_cat_bg{
	float:left;
}

#celeb_cat_comment{
	display:block;
	width:100%;
}

#celeb_cat_stream_single{
	height:82px;
	background-repeat:repeat-x;
	margin-top:0px;
	margin-left:0px;
	padding-left:0px;
	padding-right:0px;
}

.celeb_title_name{
	color:#000;
	font-size:12px;
	font-weight:bold;
}

.celeb_title_comments{
	color:#000;
	font-size:10px;
	padding-left:10px
}

.celeb_cat_img{
	border:1px solid #3a545f; /*already has 1px border*/
	margin-top:15px;
	height:48px;
	width:48px;
	margin-left:19px;
	margin-right:19px;
}

.celeb_title_cat {
	/*border-top:1px solid #DFBE20;*/
	background-image:url(images/comment_celeb_title_bg.png);
	height:16px;
	background-repeat:repeat-x;
	padding-left:20px;
}

.celeb_title_cat_entertainment {
	background-position: 0px 0px;
}

.celeb_title_cat_sports {
	background-position: 0px -16px;
}

.celeb_title_cat_politics {
	background-position: 0px -32px;
}

.celeb_title_cat_business {
	background-position: 0px -48px;
}

.celeb_title_cat_fiveminfame {
	background-position: 0px -64px;
}

/************* submit_sprite.PNG IMAGES ***********/
#beats_submit_buttons {
	height:15px;
	overflow:hidden;
}

.beats_submitbtn:hover, .beats_submitbtn:active, .beats_submitbtn:focus {
	background-position: 0px -16px;
}

/* Buttons Sprite */
.contacts input {
	box-shadow:inset 0 0 10px #979326;
	-moz-box-shadow:inset 0 0 10px #979326;
	-webkit-box-shadow:inset 0 0 10px #979326;
	background:none repeat hidden 0 0 black;
	border:1px solid #969225;
	color:#A5A5A5;
	font-size:11px;
	font-style:italic;
	padding:5px;
}

#beats_comment_state {
	background-repeat:no-repeat;
	height:104px;
	margin-left:0px;
	margin-top:5px;
}

#beats_rank_buttons {
	height:45px;
	display:inline;
}

#beats_tagline {
	color:#FFED0D;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding-left:0px;
	padding-top:0px;
	width:100%;
}

/****************************************************
*
*
*/
#user_celeb_stream_wrapper{

}

.user-top-list ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	list-style-type:none;
	width:100%;
}

.user-top-list ul li {
	margin-left: 0;
	list-style: none;
	display: inline;
}

.user-celeb-top {
	border-bottom-color: #6DCFF6;
	color: #6DCFF6;
}

.user-celeb-bottom {
	border-bottom-color: #bb262b;
	color: #bb262b;
}

#user-fb-settings {
	margin-bottom:25px;
}

#user-left-container p {
	color:#fff;
	text-align:left;
	font-size:12px;
	margin:2px 0 8px 0;
}

.user-border {
	border-right:1px dashed #ffeb09;
}

.user-joined{
	color:#fff; font-size:12px;
}

.user-settings {
	margin-top:10px;
}

.user-settings p{

}

.user-ranking-container {
	margin-bottom:17px;
	background-image: url(images/stars_bg.png);
	background-repeat: no-repeat;
	width:725px;
}

.user-profile-img {
	margin-right:10px;
}

/************* SPRITE.PNG IMAGES ***********/
.sprite {
	position: relative;
}

.sprites {
	position: absolute;
	top: 0;
	left: 0;
}

.thumb_m2 {
	clip: rect(0px 16px 15px 0px);
	top: 0px;
	border: 0px;
}

.thumb_m1 {
	clip: rect(15px 16px 30px 0px);
	top: -15px;
	border: 0px;
}

.thumb_p1 {
	clip: rect(30px 16px 45px 0px);
	top: -30px;
	border: 0px;
}

.thumb_p2 {
	clip: rect(45px 16px 60px 0px);
	top: -45px;
	border: 0px;
}

.expand {
	clip: rect(60px 10px 66px 0px);
	left: 158px;
	top: -70px;
	border: 0px;
}

.collapse {
	clip: rect(67px 10px 76px 0px);
	left: 158px;
	top: -78px;
	border: 0px;
}

.close_button {
	clip: rect(77px 16px 90px 0px);
	left: 88px;
	top: -91px;
	border:none;
	margin-left:-2px;
	padding-top:2px;
	vertical-align:middle;
}

/* FORMS */

h4{
	color:#ffeb09;
	font-size:14px;}

.forms input, textarea{
	box-shadow:inset 0 0 10px #979326;
	-moz-box-shadow:inset 0 0 10px #979326;
	-webkit-box-shadow:inset 0 0 10px #979326;
	background-color:#000000;
	border:1px solid #69671b;
	overflow:hidden;
	color:#A5A5A5;
	font-size:11px;
	font-style:italic;
	padding:5px;
	width:291px;
}

.forms .form-submit{
	background-color:#FFEB09;
	border:0 none;
	color:#000000;
	cursor:pointer;
	font-style:normal;
	outline:medium none;
	padding:0 5px;
	width:80px;
}

.forms label {
	display:block;
	font-weight:bold;
	padding-bottom:12px;
	color:#fff;
}